<header>
    <nav>
        <ul>
            <li class="home"><a href="/">Home</a></li>
            <li class="admin"><a href="/adminlogin">Admin Login</a></li>
            <li class="teacher"><a href="/teacherlogin">Teacher Login</a></li>
            <li class="student"><a href="/studentlogin">Student Login</a></li>
            <!-- <li class="about"><a href="/aboutus">About Us</a></li> -->
        </ul>
    </nav>
</header>