<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="stylesheets/style-index.css">
    <link rel="icon" href="/public/favicon.ico">
</head>
<body class="back">
    <% include header.ejs %>

    <div class="content">
        <h1>Elective Management System</h1> 
    
    </div>      
</body>