<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Query Page</title>
  <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Hind:300,400');
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  background: #fff;
  color: #4d5974;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}
.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}
h3 {
  font-size: 1.75rem;
  color: #373d51;
  padding: 1.3rem;
  margin: 0;
}
.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #ff5353;
}
.accordion a:hover::after {
  border: 1px solid #ff5353;
}
.accordion a.active {
  color: #ff5353;
  border-bottom: 1px solid #ff5353;
}
.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}
.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #ff5353;
  border: 1px solid #ff5353;
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}
.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
</style>

</head>
<body>
 
<div class="container">
 
  <h2>Query Page</h2>
 
  <div class="accordion">
    <!-- <div class="accordion-item">
      <a>How a student can register for the electives ?</a>
      <div class="content">
        <p>The student can enroll themselves in any elective by logging into their student portal and applying for that particular elective.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a> How to edit my profile as a student?</a>
      <div class="content">
        <p>The student can login in into their dashboard and can click on edit profile to make the changes.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>Last date of registration </a>
      <div class="content">
        <p>The last date of registration is decided by the course instructor and after that date no changes are possible.</p>
      </div>
    </div>
    <div class="accordion-item">
      <a>I am having some trouble with the application.</a>
      <div class="content">
        <p>Contact administration at admin@iiita.ac.in for any other application related query or compatibility.</p>
      </div>
    </div> -->
    <div class="accordion-item">
      <!-- <a> <%=newListItem %> </a> -->
    <%  for (var i = 0 ; i < newListItem.length ; i++){   %>
        <a><%=newListItem[i] %></a>
        <div class="content">
          <p>Contact administration at admin@iiita.ac.in for any other application related query or compatibility.</p>
        </div>
   <%   }      %> 
    </div>
    <!--<div class="accordion-item">
      <a>.......................................</a>
      <div class="content">
        <p>--Blank--</p>
      </div>
    </div>
  </div> -->
  <form action="/querypage" method = "post" >
  <input type="text" name = newitem >
  <button type="submit" name="button" >Ask Question</button>
</form>
  <!-- <button type="button">Answer Question</button> -->
  
</div>
 
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type="text/javascript">
	const items = document.querySelectorAll(".accordion a");

function toggleAccordion(){
  this.classList.toggle('active');
  this.nextElementSibling.classList.toggle('active');
}

items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>
<!-- <script  src="function.js"></script> -->
 
</body>
</html>