<header>
    <nav>
      <ul>
        <li class="home"><a href="/teacherdash">Dashboard</a></li>
        <li class="admin"><a href="/teacheraddelective">Add Elective</a></li>
        <li class="about"><a href="/selectstudent">Select Student</a></li>
        <li class="student"><a href="/querypageteacher">Answer Query</a></li>
        <li class="teacher"><a href="/logout">Logout</a></li>
    </ul> 
    </nav>
  </header>