* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
}
.back{
	background: -webkit-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -o-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -moz-linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
}
/*body { background-color: #000;}*/
nav {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #000;
}

ul { list-style-type: none;}

ul li { 
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
 }

ul li a {
    display: inline-block;
    color: #fff;
    font-size: 16pt;
    text-decoration: none;
    text-align: center;
    padding: 12.7px 12.7px;
    box-sizing: border-box;
    height: 45px;
}

.home, .admin, .student, .teacher, .about {
    background-size: 100% 200%;
    transition: background-position 1s;
} 

.home:hover, .admin:hover, .student:hover, .teacher:hover, .about:hover {
    background-position: 0 100%;
    transition: all .6s ease-in;
}

.home { 
    border-bottom: 5px solid orange;
    background-image: linear-gradient(to top, orange 50%, black 50%);

} 
.home:hover {background-color: orange;} 

.admin {
    border-bottom: 5px solid coral;
    background-image: linear-gradient(to top, coral 50%, black 50%);
}
.admin:hover { background-color: coral;}


.student {
    border-bottom: 5px solid #FE3E00;
    background-image: linear-gradient(to top, #FE3E00 50%, black 50%);
}
.student:hover { background-color: #FE3E00;}

.teacher {
    border-bottom: 5px solid #922b3e;
    background-image: linear-gradient(to top, #922b3e 50%, black 50%);
}
.teacher:hover { background-color: #922b3e;}

.about {
    border-bottom: 5px solid purple;
    background-image: linear-gradient(to top, purple 50%, black 50%);
}
.about:hover {background-color: purple;}
.careers {
    border-bottom: 5px solid #1C1AAF;
    background-image: linear-gradient(to top, #1C1AAF 50%, black 50%);
}
.careers:hover { background-color: #1C1AAF;}


.about {
    border-bottom: 5px solid #0066E7;
    background-image: linear-gradient(to top, #0066E7 50%, black 50%);
}
.about:hover { background-color: #0066E7;}
.contact {
    border-bottom: 5px solid #0a8062;
    background-image: linear-gradient(to top, #0a8062 50%, black 50%);
}
.contact:hover { background-color: #0a8062;}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 880px;
    height: 485px;
    margin-top: 50px;

}
h1 {
    background-image: linear-gradient(to right, orange, #FE3E00, #922b3e, purple,#1C1AAF, #0066E7, #0a8062); 
    color: white;
    text-align: center;
    font-size: 3.8em;
    -webkit-background-clip: text;
    color: transparent;
}

p {
    text-align: center;
    -webkit-background-clip: text;
    color: #fff;
    margin-top: 30px;
    font-size: 2em;
}